{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
        this is the demo application for my <em>Django</em> project.
        More codes are available on my <a href="https://github.com/mani-samani">Github</a>
    </p>

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
            <a href="{% url 'detail' meeting.id %}">
                {{meeting.title}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}">Rooms list</a>
{% endblock %}